body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .input-field {
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    font-size: 1.2rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
  }
  
  .button {
    margin-top: 20px;
    text-align: center;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    background-color: #0066cc;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  input[type="submit"]:hover {
    background-color: #0052a3;
  }
  
  .signup-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .signup-link a {
    color: #0066cc;
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }
  