* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f3854;
    font-family: Arial, sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form-container {
    background-color: #F8E0DE;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 40px;
}

.login-form-container h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color: #24292e;
}

.form-field {
    margin-bottom: 20px;
    text-align: center;
    
   
}




.form-field label {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 5px;
    color: #24292e;
    
   
}

.form-field input[type="text"],
.form-field input[type="password"] {
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    font-size: 1.2rem;
    color: #24292e;
    background-color: #c2c7c7;
}

.form-field input[type="text"]:focus,
.form-field input[type="password"]:focus {
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.form-field button[type="submit"] {
    background-color: #24292e;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.form-field button[type="submit"]:hover {
    background-color: #737373;

}

.form-field button[type="button"]:hover {
    background-color:"black";
}

#forgot-pwd{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}


#err-box{
    background-color: rgb(220, 76, 100,0.4);
    /* padding: 10px; */
    border-radius: 5px;
    text-align: center;
    font-size: 24px;
    color: rgb(220,76,100);
}
body {
    background: #0f3854;
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
    background-size: 100%;
}
