*{
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
p{
    background-color: white;
    text-align: center;
}
.sec1{
     
    width: 300px;
    margin: auto;
    margin-top: 15vh;
    background-color: rgb(65, 59, 59);
    border: 1px solid red;
}


.err-box{
    background-color: rgb(237, 14, 14,0.4);
    color: red;
    margin-top: 20px;
}
.box{

    /* border: 1px solid yellow; */

    align-content: center;
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
}

.right{
    /* border: 1px solid green; */
    margin:auto;
}

input{
    border: 2px solid gray;
    background-color: white;
    border-radius: 4px;
}

.regBtn{
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

#reg,#login{
    background-color: rgb(9, 92, 9);
    border: 1px solid rgb(1, 41, 1);
    border-radius: 5px;
}

#err-box{
    color: red;
    background-color: rgb(228, 90, 90,0.2);
    
    font-size: 21px;
}
